<%= form_with model:@tweet, local: true do |f| %>

  <div class="field">
    <%= f.label :tweet %>
    <%= f.rich_text_area :tweet, autofocus: true, placeholder: "今何してる？" %>
  </div>

  <div class="actions_btn">
    <%= f.submit %>
  </div>
<% end %>