<%###.*_*.### ツイート記事新規投稿ページ ###.*_*.###%>

<%= render 'shared/header' %>

<div class="post post-tweet">
  <%# BootStrap仮置き %>
  <%= link_to "一覧に戻る", tweets_path, class:"btn btn-primary back-top-btn" %>
  <%# ActionText実装に伴い、form_withの記述削除しています %>
  <%= render 'form', tweet: @tweet %>
</div>

<%= render 'shared/footer' %>