<div class='header'>
  <h1>Tweets#show</h1>
</div>
<div class='content'>
  <div class='left-content'>
    <div class='delete-button'>
      <%# if user_signed_in? %>
        <%# if current_user.id == @tweet.user_id %>
          <a href='/tweets' class="btn btn-info" onclick='return confirm("削除しますか？")' >削除</a>
        <%# end %>
      <%# end %>
    </div>
    <div class='tweet-image'></div>
    <div class='tweet-box'></div>
  </div>
  <div class='right-content'>
    <div class='comment-box'></div>
  </div>
</div>
<div class='footer'></div>
