<header>
</header>

<h1>Prosecces</h1>
<center>
<%# ここから投稿内容表示・仮置きのため一時的に設置 %>
    <div class = tweet_set>何月何日
    <div class = tweet_set2>ここに投稿内容
    </div>
    </div>
    <div class = tweet_set>何月何日
    <div class = tweet_set2>ここに投稿内容
    </div>
    </div>
    <div class = tweet_set>何月何日
    <div class = tweet_set2>ここに投稿内容
    </div>
    </div>
<button type="button" class="btn btn-primary btn-lg">戻る</button>
<button class="fixed_btn">新規投稿</button>
</center>
<footer>
</footer>