/* 仮ヘッダー・フッター */
header{
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: #31a9ee;
  border-bottom: 3px solid #006DD9;
  box-shadow:0 7px 10px 2px #aaaaaa;
}

footer{
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding:10px;
  color: #000000;
  background-color: lightcoral;
}

 /* 仮ヘッダー・フッターここまで */

 /* 投稿内容仮置き */

.tweet_set{
  background-color: lightseagreen;
  width: 700px;
  height: 250px;
  margin-bottom: 40px;
  padding: 25px 100px;
  position: relative;
}

.tweet_set2{
  background-color: dodgerblue;
  width: 600px;
  height: 150px;
  padding: 25px 100px;
  position: absolute; right: 50px;
}

/* 右下のボタン */

.fixed_btn{
  position: fixed;
  bottom: 10px; 
  right: 10px;
  padding: 50px 40px;
  background-color: orange;
  border-radius: 20px
}

/* 以上コンフリクト回避のためindex.cssを新たに追加して記述 */