//****** 仮ヘッダーとフッター ******//
header{
  width: 100%;
  height: 120px;
  background-color: #ff98f2;
}

footer{
  width: 100%;
  height: 60px;
  background-color: #ff98f2;
}
//********** ここまで **********//



.post{
  height: 100%;
  width: 100%;
}

//===トップボタン===//
.back-top-btn{
  margin-top: 5rem;
  margin-left: 5rem;
}


//.+.+.+ ここからフォーム +.+.+.//
.meal-form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.form-label{
  display: block;
  font-size: 18px;
  letter-spacing: 2px;
}

.input-box{
  width: 45rem;
  padding: 5px 10px;
  margin-bottom: 3rem;
}

.text-box{
  height: 40rem;
  padding-top: 20px;
}

.submit-end-btn{
  margin-bottom: 80px;
}