.header {
  height: 100px;
  color: white;
  background-color: #432;
}
.footer {
  height: 80px;
  background-color: #432;
}
.contents{
  display: flex;
}
.article{
  width: 60vw;
  padding: 10px;
}
.container{
  margin-top: 10px;
}
.delete-button{
  text-align: center;
}
.tweet-image{
  height: 250px;
  display: flex;
  justify-content: center;
}
.tweet-pict{
  height: 200px;
  width: 200px;
  border: 2px dotted black;
  margin: auto;
}
.tweet-box{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tweet-content{
  width: 80%;
  height: 350px;
  border: 2px dotted black;
  padding: 5px;
}
.tweet-header{
  height: 40px;
  border: 1px dotted gray;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  text-align: center;
}
.icon-pict{
  height: 22px;
  width: 22px;
  margin: 0 10px 0 5px;
  border-radius: 100%;
}
.tweet-main{
  height: calc(100% - 50px);
  border: 1px dotted gray;
  padding: 5px;
  word-break: break-word;
}
.comment-box{
  width: 40vw;
  height: 700px;
  padding: 20px 10px;
}
.comment-title{
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
}
.comment-content{
  height: 550px;
  width: 90%;
  padding: 5px;
  margin: 0 auto 10px;
  border: 2px dotted black;
}
.comment-header{
  display: flex;
}
.comment-form{
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  border: 2px dotted black;
}
.comment-form input{
  width: 80%;
  margin-right: 5%;
}