.header {
  height: 100px;
  background-image: linear-gradient(#c9ffbf, #ffafbd);
}
.footer {
  height: 80px;
  background-color: #432;
}
.content{
  display: flex;
}
.left-content{
  width: 60vw;
}
.delete-button{
  height: 50px;
}
.tweet-image{
  height: 250px;
  background-color: #eaf6fd;
}
.tweet-box{
  height: 400px;
  background-color: #c9ffbf;
}
.right-content{
  width: 40vw;
  height: 700px;
  background-color: #dddddd;
}
.comment-box{
  
}